
body {
background-size: 100% 100%;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRR0YP5xuMEw-1mAwfe0l3ARPZx4PmH2ydaRg&usqp=CAU');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
font-family: Arial, sans-serif;
background-color: #3f4040;
margin: 0;
padding: 0;
}

body:hover {
background-color: none;
transition: background-color 2s ease;
}

.container {
max-width: 800px;
margin: 0 auto;
padding: 10px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
z-index: 0;
}

.box {
background-color: none;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 50px;
border: 1px solid white;
margin: 2%;
padding: 0px;
text-align: center;
width: 100%;
z-index: 0;
transform: scale(1);
transition: transform 0.5s;
}


.box:hover {
  transform: scale(1.05);
  background-color: white;
  border: 1px solid blue;
}


.box a {
color: white;
text-decoration: none;
font-size: 20px;
font-weight: bold;
display: flex;
align-items: center;
justify-content: flex-start;
}

.box a:hover {
color: black;
}

.box a:focus {
  outline: none;
  }

.icon-container {
align-self: flex-start;
}

.fab {
  font-size: 40px;
  padding: 5px;
  margin-left: 5px;
  color: ;
  }

.text-center {
flex-grow: 1;
display: flex;
justify-content: center;
margin-right: 45px;
}









header {
display: flex;
justify-content: center;
align-items: center;
height: 80px;
background: linear-gradient(45deg, red, black, blue, black);
background-size: 400% 400%;
animation: gradient-animation 20s ease infinite, wave-animation 5s ease-in-out infinite;
margin-bottom: 20px;
margin-left: 0px;
box-shadow: 0px 5px 10px 0px black;
position: fixed;
width: 100%;
z-index: 1;
}

header img {
height: 60px;
border-radius: 30% 5% 30% 5%;
}

@keyframes gradient-animation {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}
@keyframes wave-animation {
0% {
background-position: 0% 0%;
}
50% {
background-position: 100% 100%;
}
100% {
background-position: 0% 0%;
}
}




header h1 {
color: white;
font-size: 24px;
text-shadow: 2px 2px 2px #000000;
margin-left: 20px;
margin-right: 0px;
}

	    .card { 
     perspective: 800px;
	    width: 90%;
     max-width:400px;
	    height: 200px;
	    position: relative;
	    margin: 20px 10px 20px 0px;
     }
	    
	    .card-front,
	    .card-back {
	    font-family: Arial, sans-serif;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    backface-visibility: hidden;
	    transition: transform 2.5s ease-in-out;
	    box-shadow: 0px 0px 0px 0px red;
	    
	    }
	    
	    .card-front {
	    border: 5px solid white;
	    animation: pulse 2s ease-in-out infinite;
	    
	    background-color: black;
	    color: #fff;
	    transform: rotateY(0deg);
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    }
	    
	    .card-back {
	    border: 5px solid black;
	    background-color: grey;
	    color: black;
	    transform: rotateY(180deg);
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    }
	    
	    .card-back img{
	    height: 40px;
	    border-radius: 25%;
	    font-size: 50px;
	    margin: 0px 0px 0px 0px;
	    color: #1DA1F2;
	    display: inline-block;
	    text-align: center;
	    padding: 5px
	    }
	    
	    .card p{
	    color: white;
	    font-size: 20px;
	    text-shadow: 2px 2px 2px #000000;
	    margin-left: 0px;
	    margin-right: 0px;
     text-align: center;
	    }
	    
	    .card-back h2{
	    color: red;
	    font-size: px;
	    text-shadow: 2px 2px 2px #000000;
	    margin-left: 0px;
	    margin-right: 0px;
	    }
       
     .card-front h2{
	    color: #24bcf2;
	    font-size: px;
	    text-shadow: 2px 2px 2px #000000;
	    margin-left: 0px;
	    margin-right: 0px;
	    }
	    


	    .card:hover .card-front {
	    transform: rotateY(180deg);
	    }
	    
	    .card:hover .card-back {
	    transform: rotateY(360deg);
	    }

	    @keyframes pulse {
	    0% {
	    border-width: 2px;
	    border-color: green;
	    }
	    50% {
	    border-width: 5px;
	    border-color: red;
	    }
	    100% {
	    border-width: 2px;
	    border-color: green;
	    }
	    }


footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #3f4040;
text-align: center;
z-index: 1;
}



footer p {
color: white;
font-size: 18px;
text-shadow: 2px 2px 2px #000000;
margin-left: 0px;
margin-right: 0px;
text-align: center;
}


.my-link {
  color: #029bed;
  text-decoration: none;
}

.my-link:hover,
.my-link:focus,
.my-link:active,
.my-link:visited {
  text-decoration: none;
}


.floating-button {
  position: fixed;
  bottom: 50%;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: none;
  border-radius: 20%;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.floating-button img {
  width: 100%;
  height: auto;
}

.card-back button {
  background: linear-gradient(45deg, red, blue);
  border: 2px solid black;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  padding: 10px 0px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.5s;
}
.card-back button:hover {
  transform: scale(1.5);
  background: linear-gradient(45deg, blue, red);
}

 .wox {
background: linear-gradient(145deg, blue, darkblue, black, black);
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 50px;
border: 1px solid white;
margin: 2%;
padding: 0px;
text-align: center;
width: 100%;
z-index: 0;
transform: scale(1);
transition: transform 0.5s;
}

.wox a {
color: white;
text-decoration: none;
font-size: 20px;
font-weight: bold;
display: flex;
align-items: center;
justify-content: flex-start;
}

.wox:hover {
  transform: scale(1.05);
  background: linear-gradient(45deg, blue, red);
}

.tg {
  height: 45px;
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
}

@keyframes pulse1 {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}

.wox {
  animation: pulse1 1s ease-in-out infinite;
}